.actions {
    padding: 120px 160px;
    &__heading {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: #D65B56;
        margin-bottom: 16px;
    }
    &__paragraph {
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 28px;
        color: #262222;
        max-width: 510px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1400px) {
    .actions {
        padding: 100px 40px;
    }
}

@media screen and (max-width: 768px) {
    .actions {
        padding: 80px 20px;
        &__heading {
            font-size: 1.6rem;
        }
        &__paragraph {
            max-width: 335px;
        }
    }
}