.background {
    background-repeat: no-repeat;
    background-size: cover;
    background: repeating-linear-gradient(180deg, rgba(186, 65, 65, 0.8) 0%, rgba(44, 24, 24, 0.95) 100%), url(../img/Cash.png);
}