.div-one {
    box-shadow: inset 0px -1px 0px #D8D8D8;
    height: 64px;
    &__digit {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: #D65B56;
        border-radius: 20px;
        font-weight: 700;
        font-size: 0.9rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin: 0 auto 24px;
    }
}